body{
    margin: 0;
    padding: 0;
    background: url(https://cdn.discordapp.com/attachments/498784706733670400/1018896754390863983/unknown.png) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 185px;
    height: 170px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;

}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
.box a{
    width: 30px;
    height: 30px;
}
.box ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out;
}
.box li a:hover{
    color: #b9b9b9;
}
